@use '../../stylesheets/mixins' as *;
@use '../../stylesheets/variables' as *;

@keyframes rotate {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
}

.loader {
  @include flex(row, center, center);
  @include size(100%, 100%);
  @include position(absolute, 0, 0);
  z-index: 2;

  & > svg {
    animation: rotate 2s linear infinite;
  }
}
