@use '../../stylesheets/mixins' as *;
@use '../../stylesheets/variables' as *;

.content {
  @include flex(column, $gap: 80px);
  min-height: 100vh;
  padding: 50px 20px;
}

.header {
  @include flex(row, flex-end);
}

.liked-filter {
  @include input-style-reset;
  @include flex(row, flex-start, center, 10px);
  background-color: $off-white;
  padding: 20px 20px;
  border-radius: 20px;
  transition: opacity .5s;

  cursor: pointer;

  & span {
    @include font('Times New Roman', 22px, 600, 150%);
  }

  & > svg {
    fill: $off-white;
  }

  &.active {
    & > svg {
      fill: $fill-black;
    }
  }

  &:hover {
    opacity: .6;
  }
}

.posts {
  @include flex(row, space-evenly, $gap: 20px);
  flex-wrap: wrap;
}
