@use '../../stylesheets/mixins' as *;
@use '../../stylesheets/variables' as *;

.root {
  position: relative;
  min-height: 100vh;
  padding: 20px 40px;

  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 100px, rgba(255,255,255,1) 100px);
}

.back {
  @include position(absolute, 0, $left: 0);
  transition: opacity .5s;
  cursor: pointer;

  &:hover {
    opacity: .6;
  }
}

.image {
  padding: 60px 20px 10px;
  float: left;

  @media screen and (max-width: 1200px) {
    width: 100%;
  }
}

.text-content {
  padding: 20px;
}

.title {
  @include font('Times New Roman', 42px, 600, 150%, $off-white);

  @media screen and (max-width: 1200px) {
    color: inherit;
  }
}

.author {
  @include font('Times New Roman', 30px, 600, 150%);
  font-style: italic;
  padding: 20px 0 0;
}

.text {
  @include font('Times New Roman', 18px, 400, 150%);
  text-align: justify;
  padding: 40px 0 0;
}
